<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/7d698f1d-918e-47cc-a58d-0dbfc741e4f7/resourcegroups/DefaultResourceGroup-DXB/providers/Microsoft.Web/sites/LoadTestingAppBlazorServer</ResourceId>
    <ResourceGroup>DefaultResourceGroup-DXB</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://loadtestingappblazorserver.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>89365951-91a5-4857-99af-b853bc186b71</ProjectGuid>
    <PublishUrl>https://loadtestingappblazorserver.scm.azurewebsites.net/</PublishUrl>
    <UserName>$LoadTestingAppBlazorServer</UserName>
    <_SavePWD>true</_SavePWD>
    <WebConfigEnvironmentVariables>ASPNETCORE_HOSTINGSTARTUPASSEMBLIES=Microsoft.Azure.SignalR</WebConfigEnvironmentVariables>
  </PropertyGroup>
</Project>